*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
  }
.logo{
    width: 55%;
}
.divdiv{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.521);
    position: fixed;
    width: 100%;
    align-items: center;
}
.banner{
    width: 100%;
    height: 500px;
}
.titulo{
    padding-top: 12%;
    text-align: center;
    font-size: 4vh;
    color: #8D0D0D;
}
.menuzinho{
    display: flex;
    justify-content: space-around;
    font-size: 2.8vh;
    width: 40%;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-size: 2.5vh;
    width: 50%;
}
.men{
    display: flex;
    justify-content: space-between;
    font-size: 2.5vh;
}
.lolo{
    background-color: #8D0D0D;
    padding: 0 3% 0 3%;
    font-size: 2.5vh;
    color: white;
}
.peppa{
    padding: 0 3% 0 3%;
    font-size: 2.5vh;
    color: white;
}
body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.bolinhas{
    padding: 7% 0 0 0;
    width: 20%;
    height: 20%;
}
h2{
    padding: 12% 0 6% 0;
    font-size: 5vh;
    text-align: center;
    color: #8D0D0D;
}
main{
    margin: 0 auto;
    max-width: 1360px;
    width: 80%;
}
.conteudoPrincipal-funcionalidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
}
.conteudoPrincipal-funcionalidades p{
    font-weight: bold;
    font-size: 4vh;
}
.imagem{
    width: 40%;
    height: 40%;
}
.redes-sociais{
    width: 5%;
    height: 5%;
    padding: 3% 0 10% 0 ;
}
.conteudoimg{
    display: flex;
    justify-content: space-around;
}
.contatinhos{
    text-align: center;
    font-weight: bold;
}
footer{
    padding: 3vh;
    background-color: #8D0D0D;
}