*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
  }
.logo{
    width: 55%;
}
.divdiv{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.521);
    position: fixed;
    width: 100%;
    align-items: center;
}
.banner{
    width: 100%;
    height: 100vh;
}
.diminuirPadding{
    padding-top: 10.2vh;
    text-align: center;
    font-size: 4vh;
    color: #8D0D0D;
}

.titulo{
    padding: 15% 0 5% 0;
    text-align: center;
    font-size: 4vh;
    color: #8D0D0D;
}
.title{
    padding: 11.15vh 0
}
.menuzinho{
    display: flex;
    justify-content: space-around;
    font-size: 2.8vh;
    width: 40%;
}
.menuzinho a{
    color: white;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-size: 2.5vh;
    width: 50%;
}
.input_categoria{
    width: 50vh;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 5vh;
}
.irra{
    display: flex;
    justify-content: space-evenly;
    /* width: 60%; */
    align-items: center;
    /* justify-content: center; */
}
.men{
    display: flex;
    justify-content: space-between;
    font-size: 2.5vh;
}
.lolo{
    background-color: #8D0D0D;
    padding: 0 10px 0 10px;
    font-size: 2.5vh;
    color: white;
}
.abacaxi{
    padding: 0 3% 0 3%;
    font-size: 2.5vh;
    color: white;
}
.peppa{
    padding: 0 3% 0 3%;
    font-size: 2.5vh;
    color: white;
}
.iti{
    width: 40%;
    position: fixed;
    height: 100vh;
    top: 0;
}
.bla{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    width: 100%;
    align-items: center;
}

body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.bolinhas{
    padding: 7% 0 0 0;
    margin-bottom: -12vh;
    width: 20%;
    height: 20%;
}
h2{
    padding: 10.5% 0 5% 0;
    font-size: 5vh;
    text-align: center;
    color: #8D0D0D;
}
main{
    margin: 0 auto;
    max-width: 1360px;
    width: 80%;
}
.conteudoPrincipal-funcionalidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
}
.conteudoPrincipal-funcionalidades p{
    font-weight: bold;
    font-size: 4vh;
}
.imagem{
    width: 40%;
    height: 40%;
}
.redes-sociais{
    width: 7vh;
    height: 8vh;
    padding: 3% 0 20% 0 ;
}
.conteudoimg{
    display: flex;
    justify-content: space-around;
}
.contatinhos{
    text-align: center;
    font-weight: bold;
}
footer{
    padding: 2vh;
    background-color: #8D0D0D;
}
#divinha_lancamentos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
#infos > ul > li{
    margin: 10px;
                    color: #000;
    
}
#infos > ul{
    text-align: center;
    box-shadow: 0vh 0.5vh 1vh #8D0D0D;
    border-radius: 10px;
    background-color: rgb(102, 98, 98);
    margin: 3%;
    height: 45vh;
    padding: 2% 2vh;
}
#infos{
    width: 40%;
}

body{
    background-color: black;
}
.a{
    display: flex;
    align-items: center;
    margin-top: 30vh;
    margin-left: 67.5%;
}

.formularioo{
    position: relative;
    right: 10%;
    text-align: center;
}
.input__login{
    border-radius: 10px;
    font-size: 1.2em;
    margin: 5px;
}
.btn_categoria{
    border-radius: 10px;
    border: #000 solid;
    font-size: 1.3em;
    cursor: pointer;
    margin-bottom: 5vh;
    background-color: #8D0D0D;
    color: white;
    width: 18vh;
}
.btnbtn__login{
    border-radius: 10px;
    border: #000 solid;
    font-size: 1.5em;
    cursor: pointer;
    margin: 5px;
    background-color: #8D0D0D;
    color: white;
    width: 50%;
}
.btn__conta{
    border-radius: 10px;
    border: #000 solid;
    font-size: 1.5em;
    cursor: pointer;
    margin: 5px;
    background-color: #8D0D0D;
    color: white;
    width: 30%;
}
.criar_conta{
    color: white;
    font-size: 1.2em;
}
.logo{
    margin: 3px 0px 0px 5px;
}
.logo1{
    margin: 3px 0px 0px 5px;
}
.container{
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center; 
}
.container_categorias{
    background-color: #8D0D0D;
    display: flex; 
    justify-content: space-between; 
}
body{
    background-color: black;
    color: white;
}
main{
    margin: 0 auto;
    max-width: 1360px;
    width: 70%;
}
.item {    
    text-decoration: none;
    color: white;
}
.menu{
    display: flex;
    align-items: center;
}

.data_cadastro{
    width: 25%;
    border-radius: 10px;
    font-size: 1.2em;
    border: #000 solid;
    margin: 5px;
}

#divona_cadastro{
    height: auto;
}

.arrumarForm input,select{
    border-radius: 20px;
    font-size: 1.2em;
    margin: 5px;
    border: #000 solid;
    width: 50%;
    height: 5vh;
    padding: 0vh 9px;
    
}

.admin{
    margin-right: 10%;
}

.admn{
    margin-right: 10%;
}

.admn a{
    margin: 0 30%;
}

.admin a{
    margin: 0 3%;
}


.arrumarForm button{
    border-radius: 20px;
    font-size: 1.2em;
    margin: 5px;
    background-color: #8D0D0D;
    color: white;
    border: #000 solid;
    width: 50%;
    height: 5vh;
    padding: 0vh 9px;
 
}

.arrumarForm{
    padding: 4vh 0;
    text-align: center;
}

#tabela-lista{
    width: 100%;
    text-align: left;
    margin-bottom: 9.1vh
}
#tabela-listaa{
    width: 100%;
    text-align: left;
    margin-bottom: 16.5vh
}